
.h-card {
  display: flex;
  flex-direction: column;
  padding:  20px 20px;
  
  &-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
      &-title {
         display: flex;
         flex-direction: row;
         align-items: baseline;
         justify-content: start;
         font-size: 15px;
         font-weight: bold;
        //  height: fit-content;
        //  width: auto;
          i {
            margin-right: 5px;
          } 
      }
      &-item {
        display: flex;
        // flex: 1 1 200px;
        flex: 1 1 auto;
        flex-direction: column;
        width: 20%;
        // background-color: blue;
        max-width: 400px;
        width: 100%;
        padding: 10px;
        form {
          display: flex;
          flex-direction: column;
        }
      }
      
  
    }
}


.h-form-dois {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.h-form-campo{
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    align-items: baseline;
    input {
    width: 100%;
    margin: 5px 0px;
    }
    

 }
 .promo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    input {
      width: fit-content;
      margin-right: 10px;
    }
}