.h-holder {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
  position: relative;
  /* top: 11px; */
  bottom: 135px;
  height: 75px;
  font-size: 10px;
  background-color: rgba(223, 217, 217, 0.459);
  // background-color: cornsilk;
  // opacity: 0.2;
  // font-weight: lighter;
}

// .h-holder:hover {
//   // visibility: visible;
//   display: flex;
//   justify-content: space-between;
//   padding: 5px 5px 10px 5px;
//   position: relative;
//   /* top: 11px; */
//   bottom: 135px;
//   font-size: 10px;
//   background-color: rgba(223, 217, 217, 0.459);
//   // background-color: cornsilk;
//   // opacity: 0.2;
//   // font-weight: lighter;
// }