@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.input#Nome {
  width: 90%;
  margin: 0 10px 10px 0px;
}

.input#Email {
  width: 73%;
  margin: 0 9px 0 0;
}

.h-footer {
  background-color: cornsilk;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.h-footer--top {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  align-items: center;
  flex-wrap: wrap;
}
.h-footer--top-box:last-child {
  display: flex;
  font-size: 40px;
}
.h-footer--top-box:last-child i {
  margin-right: 10px;
}
.h-footer--top-box:last-child i:last-child {
  margin-right: 0;
}
.h-footer--botton {
  background-color: crimson;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.h-footer--botton-box ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.h-footer--botton-box ul li:nth-child(1) {
  margin-bottom: 20px;
}
.h-footer--botton-box ul li {
  margin-bottom: 5px;
}

li, div {
  font-size: 12px;
}

.icone-twitter:hover {
  color: #55acee;
}

.icone-facebook:hover {
  color: #3b5998;
}

.icone-instagram:hover {
  color: #e95950;
}

.icone-spt:hover {
  color: #50ca87;
}

.icone-pint:hover {
  color: red;
}

.h-card-item i {
  font-size: 30px;
  margin-right: 10px;
}

.h-card-item i:last-child {
  margin-right: 0;
}

.h-footer--botton-box:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 40px 0 40px;
  background-image: url("./../assets/duotone.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 110vh;
  position: relative;
  width: 100%;
}
.h-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.h-header-row-logo {
  height: 30px;
  width: auto;
}
.h-header-row-logo img {
  height: 100%;
  width: auto;
}

.h-header:after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75%);
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  flex-wrap: wrap;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin-right: 60px;
  flex-wrap: wrap;
}
.navbar-item {
  color: #c03b3b;
  margin: 0 20px;
  font-size: 20px;
}
.navbar-item:hover {
  color: #b45a5a;
}

.card {
  margin-left: 40px;
}
.card i {
  color: #c03b3b;
  font-size: 25px;
}

.card i:hover {
  color: #b45a5a;
}

.h-header-colum {
  width: 100%;
  margin-bottom: 120px;
}
.h-header-colum-promo {
  display: flex;
  flex-direction: column;
  align-items: initial;
}
.h-header-colum-promo p {
  font-size: 15px;
  color: #c03b3b;
}
.h-header-colum-promo p:hover {
  color: #b45a5a;
}

.redi {
  width: fit-content;
  padding: 5px 5px;
  margin-top: 35%;
  background-color: #c03b3b;
  border-radius: 5px;
}
.redi p {
  font-size: 20px;
  margin: 0;
  color: black;
}

.redi:hover {
  background-color: #b45a5a;
}
.redi:hover p {
  color: black;
}

li {
  list-style: none;
}

.container-catalogo {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h-catalogo {
  width: 100%;
  max-width: 1500px;
  padding: 40px 10px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.h-catalogo-item {
  flex: 1 1 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 150px;
  max-width: 330px;
  padding-bottom: 10px;
}
.h-catalogo-item--product {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.h-product--img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.h-product--img-sale {
  position: absolute;
  left: 0;
  width: 40px;
}

.h-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px 0;
}
.h-bar--title {
  font-size: 15px;
}
.h-bar--link {
  margin-left: 30px;
  font-size: 15px;
  color: #a7a1a1;
}
.h-bar--link:hover {
  color: #807b7b;
}

.h-banner-img img {
  width: 100%;
}

.h-catalogo-item--description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-item-title {
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  font-weight: bold;
}

.h-item-price {
  text-align: center;
  margin-bottom: 2px;
  color: #9e9a9a;
  font-size: 15px;
}

.h-item-conditions {
  text-align: center;
  color: #9e9a9a;
}

.h-card {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.h-card-form {
  display: flex;
  justify-content: space-between;
}
.h-card-form-item .title {
  display: flex;
  align-items: baseline;
  justify-content: start;
  font-size: 15px;
  font-weight: bold;
}
.h-card-form-item .title i {
  margin-right: 5px;
}

.h-erro {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h-erro-image {
  width: 100%;
  height: auto;
  margin: 0;
}
.h-erro-image img {
  width: 100%;
  height: 100vh;
  margin: 0;
}
.h-erro-text {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h-erro-text h1 {
  font-size: 40px;
}
.h-erro-text p {
  text-align: center;
  font-size: 20px;
}

/*# sourceMappingURL=app.css.map */
