
* {
	box-sizing: border-box;
	
}

body {
	font-size: 10px;
	font-family: 'Courier New', Courier, monospace;
	margin: 0; 
}

a {
	text-decoration: none;
	color: black;
}

button {
	background-color: black;
	border-color: black;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	padding: 3px;
	cursor: pointer;
	}

	input {
		height: 30px;
		padding: 6px;
		border-radius: 2px;
		border: none;
		background: rgb(241, 238, 238)
	}
.h-column-general {
	display: flex;
	flex-direction: column;
}

	